@{
  Layout="Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<h3>Bands:</h3>
@if(Model.GetBands().Count > 0)
{
  <ul>
    @foreach(var band in Model.GetBands())
    {
      <li><a href="/bands/@band.Id">@band.Name</a></li>
    }
  </ul>
}

<form action="/venues/@Model.Id/new" method="post">
  <label for="name">New Band:</label>
  <input type="text" name="name">
  <button type="submit" name="button">Add New Band for this Venue</button>
</form>
